body {
    background-color: white
}

jumbotron {
    color: rgb(184, 179, 179)
}
img {
    width: 100%;
    height: auto
    border-radius: 8px;
};
#fa-footer{
    align-items: center;
    color: rgb(78, 138, 176)
}
